/* Custom styles */
body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.hero {
    background: url('img/hero-bg.png') no-repeat center center fixed; /* Updated */
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hero-content {
    z-index: 1;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5em;
}

.hero-buttons {
    margin-top: 20px;
}

.hero-buttons .btn {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1.2em;
}

.hero-profile-pic {
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    border-radius: 50%; /* Makes it circular */
    border: 2px solid #fff; /* Optional: Adds a white border */
    margin-bottom: 20px; /* Optional: Adjust margin */
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease-in-out;
}

.hero-profile-pic:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}

.hero-buttons .btn-primary {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    color: #ffffff; /* Neon green text */
    border: 1px solid #ffffff; /* Neon green border */
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace; /* Code-like font */
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px; /* Adjust spacing between buttons */
    font-weight: bold;
}

.hero-buttons .btn-primary:hover {
    background-color: #ffffff; /* Neon green on hover */
    color: #000; /* Black text on hover */
}

.hero-iama {
    font-size: 25px; 
    color: #ffffff; 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
}

.hero-name{
    font-size: 3rem; 
    font-weight: bold; 
    color: #ffffff;
}

.hero-social-links {
    margin-top: 20px; /* Adjust spacing as needed */
    text-align: center; /* Center align the content horizontally */
}

.hero-social-links a {
    display: inline-block; /* Display links inline */
    margin-right: 25px; /* Adjust spacing between icons */
    color: #fff; /* Text color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.hero-social-links a:hover {
    color: #666666 !important; /* Hover color (adjust as needed) */
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
}

#portfolio-title-section {
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
    scroll-margin-top: 100px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.toggle-icon {
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
}

.toggle-icon i {
    transition: transform 0.3s;
}

.toggle-icon i.up {
    transform: rotate(180deg);
}

.portfolio-title {
    font-size: 3rem; /* Adjust font size as needed */
    font-weight: bold;
    color: #333;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    /* transition: transform 0.3s; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust values for shadow color, size, and opacity */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-size: 1.25em;
    font-weight: bold;
}

.card-text, .card-year {
    font-size: 1em;
    color: #666;
}

.card-text-viewdetails {
    font-size: 15px;
    color: #666;
}

.card-img-top {
    border-bottom: 1px solid #ccc;
    border-radius: 8px 8px 0 0;
}

.organization-item {
    margin-bottom: 30px;
}

.positions {
    list-style-type: none;
    padding: 0;
}

.positions li {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 10px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #33a850;
    border-color: #33a850;
}

.btn-primary:hover {
    background-color: #33a850;
    border-color: #33a850;
}
/* Custom CSS for form layout */
.form-row {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

/* Highlight subject input */
.form-group #subject {
    border-color: #17a2b8; /* Example color for highlighting */
    background-color: #f0f8ff; /* Example background color for highlighting */
}

.navbar {
    position: fixed;
    top: -80px; /* Adjust as needed */
    width: 100%;
    transition: top 0.3s;
    z-index: 1000; /* Ensure it's above other content */
}

.navbar .dropdown-menu {
    position: absolute;
    left: auto;
    right: 0;
    top: 100%;
    margin-top: 0.125rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

@media (max-width: 991.98px) {
    .navbar .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin: 0;
    }
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.9); /* Match the navbar link color */
}

.navbar.fixed-top {
    top: 0;
}

.navbar-profile-pic {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Makes it circular */
    border: 2px solid #fff; /* Optional: Adds a white border */
    margin-right: 10px;
}

.card-details {
    display: none;
    margin-top: 10px;
}

.card-details.show {
    display: block;
}

.card.expanded .card-details {
    display: block;
}

.skills .badge {
    margin-right: 5px;
    margin-bottom: 5px;
}

.second-description {
    font-size: 0.9em; /* Adjust font size as needed */
    margin-bottom: 10px;
}

.border-bottom-img {
    border-bottom: 1px solid #ccc; /* Adjust the color and thickness as needed */
}

.about-content {
    padding-right: 20px; /* Add space on the right for better readability */
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensures the image aligns with the content height */
}

.about-image img {
    width: 80%; /* Adjust image size as needed */
    max-width: 300px;
    border-radius: 50%; /* Rounded profile picture */
    border: 4px solid #fff; /* White border around the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

footer {
    padding: 20px 0;
    background-color: #343a40; /* Dark background color */
    color: #fff; /* Light text color */
}

footer h5 {
    color: #fff; /* Light text color for heading */
    font-size: 1.2rem; /* Adjust heading font size */
}

footer ul {
    padding-left: 0;
    list-style-type: none;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: #fff; /* Light text color for links */
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #17a2b8; /* Hover color for links (adjust as needed) */
}

#aboutme {
    padding-top: 50px; /* Adjust as needed */
    scroll-margin-top: 25px; /* Optional: For smooth scroll alignment */
}

#education {
    padding-top: 25px; /* Adjust as needed */
    scroll-margin-top: 25px; /* Optional: For smooth scroll alignment */
}

#certifications {
    padding-top: 25px; /* Adjust as needed */
    scroll-margin-top: 25px; /* Optional: For smooth scroll alignment */
}

#portfolio {
    padding-top: 25px; /* Adjust as needed */
    scroll-margin-top: 25px; /* Optional: For smooth scroll alignment */
}

#student-organizations {
    padding-top: 25px; /* Adjust as needed */
    scroll-margin-top: 25px; /* Optional: For smooth scroll alignment */
}

#practicum {
    padding-top: 25px; /* Adjust as needed */
    scroll-margin-top: 25px; /* Optional: For smooth scroll alignment */
}

#contact {
    padding-top: 25px; /* Adjust as needed */
    scroll-margin-top: 25px; /* Optional: For smooth scroll alignment */
}

#download-cv-btn {
    pointer-events: none; /* Disable pointer events */
    cursor: default; /* Use default cursor to indicate it's not clickable */
    opacity: 0.6; /* Optionally reduce opacity to visually indicate it's disabled */
}

.section-divider {
    border: 0;
    height: 2px;
    background-color: #ccc;
    margin: 40px 0;
}

.profile-picture {
    transition: transform 0.3s ease; /* Add smooth transition */
}

.click-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    display: none;
    opacity: 0;
    animation: popUp 1s forwards
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fire {
    0% { box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); }
    50% { box-shadow: 0 0 30px rgba(255, 69, 0, 0.8); }
    100% { box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); }
}

.fire-effect {
    animation: fire 1s infinite;
}

.hidden-image {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s, transform 0.5s;
    width: 200px;
    height: auto;
}

.show-hidden-image {
    opacity: 1;
    transform: translate(-50%, -25px);
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Adjust as needed */
    z-index: 1000; /* Ensure it's above other content */
    display: none; /* Initially hidden */
}

#loading-screen.active {
    display: block; /* Show loading screen when active */
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #00ff00;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.fade-in-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in-element.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Education Section Styles */
.education-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.education-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.education-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    max-width: 50%; /* Adjust based on your design preferences */
}

.school-logo {
    width: auto;
    height: 80px;
    margin-right: 20px;
}

.education-details {
    text-align: left;
    flex: 1;
}

.education-details h3 {
    font-size: 1.5em;
    margin: 0;
}

.education-details p {
    font-size: 1.2em;
    margin: 5px 0;
}

.education-details span {
    font-size: 1em;
    color: #777;
}

.education-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        display: flex;
    }
    .school-logo {
        margin-bottom: 10px; /* Adjust spacing between logo and details */
    }
}

/* Certifications Section Styles */

.certification-item {
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.certification-item:hover {
    background-color: #f0f0f0;
}

.certification-summary {
    display: flex;
    align-items: flex-start; /* Adjust alignment as needed */
    width: 100%;
}

.cert-logo {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.cert-details {
    text-align: left;
    flex: 1;
}

.cert-title {
    font-size: 1.5em;
    margin: 0;
}

.cert-company {
    font-size: 1em;
    margin: 2px 0;
}

.cert-date {
    font-size: 1em;
    margin: 2px 0;
    color: #777;
}

.cert-expanded {
    display: none;
    text-align: left;
    width: 100%;
    padding-top: 10px;
}

.cert-expanded p {
    margin: 5px 0;
}

.certification-item.active .cert-expanded {
    display: block;
}

.credential-link a {
    text-decoration: none;
    color: #007bff; /* Adjust color as needed */
}

.credential-link a:hover {
    text-decoration: underline;
}

.credential-link a i {
    margin-left: 5px;
}

.hidden {
    display: none;
}

.toggle-icon {
    cursor: pointer;
}

.toggle-icon i {
    transition: transform 0.3s;
}

.toggle-icon i.up {
    transform: rotate(180deg);
}

#student-organizations {
    padding: 10px 0;
}

.sparkle {
position: fixed;
width: 10px;
height: 10px;
border-radius: 50%;
background: radial-gradient(circle, #00FF00 0%, transparent 50%);
pointer-events: none;
opacity: 1;
animation: fade 0.50s forwards;
}

@keyframes fade {
to {
    transform: scale(5);
    opacity: 0;
}
}

.linkedin-mini {
    max-width: 400px;
    transition: background 0.3s ease;
}

.linkedin-mini:hover {
    background-color: #f8f9fa;
}
